fieldset{
    background-color: #EEE;
    font-size: 17.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 15px;
    border: 2px solid rgb(77, 131, 167);
}

legend{
    background-color: rgb(77, 131, 167) ;
    color:#ffffff;
    padding: 5px;
    
}

.botao{
    background-color: rgb(77, 131, 167);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
}